*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: #000;
}

.wrap{
    background: rgba(255,255,255, .5);
    flex-basis: 330px;
    height: 100%;
    text-align: center;
    padding: 1rem;
    border-radius: 15px;
}

input{
    border: none;
    background: rgba(0,0,0, .5);
    color: #fff;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 2rem;
}


.date, .place, .skay{
    font-size: 1.5rem;
    padding-bottom: .5rem;
}

.temperature{
    background: #ff3355;
    color: #fff;
    border: 10px solid #d755ff;
    text-shadow: 3px 3px 10px black;
    box-shadow: 5px 5px 13px black;
    font-size: 5rem;
    width: 16rem;
    height: 16rem;
    line-height: 16rem;
    border-radius: 50%;
    margin: 0 auto 1rem;
}

